* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  /* height: 850px; */
  width: 100%;
  height: 100%;
  background-color: beige;
  margin: auto;
}

.header {
  width: 100%;
  height: calc((100 / 850) * 100%);
  background-color: black;
  border-bottom: 5px solid #958381;
  padding: 5% 2% 3%;
  display: flex;
  align-items: center;
}

.header img {
  width: 10%;
  background-color: white;
  border-radius: 100%;
}

.header #coin {
  color: white;
  font-size: 3rem;
  margin-left: 5%;
}

.main {
  width: 100%;
  height: calc((600 / 850) * 100%);
  background-color: #ffb64d;
  position: relative;
  border-top: 15px solid #524444;
}

.footer .background,
.main .background,
.main > .circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.main .background .circle {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  border-radius: 100%;
  background-color: #ff983c;
  transform: translateX(-5%) translateY(10%);
}

.main .background .circle {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  border-radius: 100%;
  background-color: #ff983c;
  transform: translateX(-5%) translateY(10%);
}

.main .background .result {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.main .background .result div {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}

.main .background .result .top,
.main .background .result .bottom {
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.main .background .result .top {
  height: 43%;
  margin-bottom: 110px;
}

.main .background .result .top .win,
.main .background .result .bottom .lose,
.main .background .result .bottom .draw {
  width: 48%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.main .background .result .top .win .text,
.main .background .result .bottom .lose .text,
.main .background .result .bottom .draw .text {
  display: flex;
  padding: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main .background .result .top .win .on,
.main .background .result .bottom .lose .on,
.main .background .result .bottom .draw .on {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gold;
  opacity: 1;
}

@keyframes result {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main .background .result .top .win .on,
.main .background .result .bottom .lose .on,
.main .background .result .bottom .draw .on {
  animation: result 3s linear;
}

.main .background .result .top .win {
  background-color: #e94464;
}

.main .background .result .bottom .lose {
  background-color: #7e56c6;
}

.main .background .result .bottom .draw {
  background-color: #ee776f;
}

.main .background .result .bottom .text {
  align-items: flex-end;
}

.main .background .cross {
  position: absolute;
  left: -25%;
  top: 50%;
  width: 150%;
  height: 7%;
  border: 3px solid black;
  background-color: white;
  transform: rotate(15deg);
}

.main .background .cross:last-child {
  transform: rotate(-15deg);
}

.main .background > .top {
  position: absolute;
  width: 7%;
  height: 50%;
  left: 46.5%;
  top: -10%;
  border: 3px solid black;
  background-color: white;
}

.main .background img {
  position: absolute;
  top: 1%;
  width: 10%;
  left: 45%;
}

.main > .circle .inner-circle {
  width: 80%;
  padding-bottom: calc(80% - 8px);
  background-color: white;
  border: 4px solid black;
  border-radius: 100%;
  margin: 35% auto;
  position: relative;
  transform: rotate(-11.25deg);
}

.main > .circle .inner-circle #coin-selector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: conic-gradient(
    #e94464 0% calc(100% / 16),
    #fff calc(100% / 16) calc(200% / 16),
    #e94464 calc(200% / 16) calc(300% / 16),
    #fff calc(300% / 16) calc(400% / 16),
    #e94464 calc(400% / 16) calc(500% / 16),
    #fff calc(500% / 16) calc(600% / 16),
    #e94464 calc(600% / 16) calc(700% / 16),
    #fff calc(700% / 16) calc(800% / 16),
    #e94464 calc(800% / 16) calc(900% / 16),
    #fff calc(900% / 16) calc(1000% / 16),
    #e94464 calc(1000% / 16) calc(1100% / 16),
    #fff calc(1100% / 16) calc(1200% / 16),
    #e94464 calc(1200% / 16) calc(1300% / 16),
    #fff calc(1300% / 16) calc(1400% / 16),
    #e94464 calc(1400% / 16) calc(1500% / 16),
    #fff calc(1500% / 16) calc(1600% / 16)
  );
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.main > .circle .inner-circle #coin-selector.rotate {
  animation: rotate 15s linear infinite;
}

.main > .circle .inner-circle #coin-selector.rotate-start {
  animation-duration: 3s;
}

.main > .circle .inner-circle #coin-selector.rotate-end {
  animation-iteration-count: 1;
}

.main > .circle .inner-circle #coin-selector.select {
  transition: transform 5s ease-out;
}

.main > .circle .inner-circle #coin-selector div {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.main > .circle .inner-circle #coin-selector div:nth-child(2n) {
  color: #e94464;
}

.main > .circle .inner-circle #coin-selector div:nth-child(1) {
  transform: rotate(calc(22.5deg * 1 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(2) {
  transform: rotate(calc(22.5deg * 2 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(3) {
  transform: rotate(calc(22.5deg * 3 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(4) {
  transform: rotate(calc(22.5deg * 4 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(5) {
  transform: rotate(calc(22.5deg * 5 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(6) {
  transform: rotate(calc(22.5deg * 6 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(7) {
  transform: rotate(calc(22.5deg * 7 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(8) {
  transform: rotate(calc(22.5deg * 8 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(9) {
  transform: rotate(calc(22.5deg * 9 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(10) {
  transform: rotate(calc(22.5deg * 10 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(11) {
  transform: rotate(calc(22.5deg * 11 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(12) {
  transform: rotate(calc(22.5deg * 12 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(13) {
  transform: rotate(calc(22.5deg * 13 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(14) {
  transform: rotate(calc(22.5deg * 14 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(15) {
  transform: rotate(calc(22.5deg * 15 - 11.25deg));
}
.main > .circle .inner-circle #coin-selector div:nth-child(16) {
  transform: rotate(calc(22.5deg * 16 - 11.25deg));
}

.main > .circle .inner-circle #coin-selected {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: conic-gradient(
    gold 0% 11.25deg,
    rgba(0, 0, 0, 0) 11.25deg calc(360deg - 11.25deg),
    gold calc(360deg - 11.25deg) 100%
  );
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  transform: rotate(11.25deg);
  opacity: 0;
}

.main > .circle .inner-circle #coin-selected.on {
  animation: result 5s linear;
}

.main > .circle .inner-circle #computer-selector {
  position: absolute;
  width: 70%;
  height: 70%;
  margin: 15%;
  border: 2px solid gray;
  background-color: black;
  border-radius: 100%;
  transform: rotate(11.25deg);
}

.main > .circle .inner-circle #computer-selector img {
  display: none;
  position: absolute;
  width: 70%;
  height: 70%;
  margin: 15%;
  filter: invert(1);
}

.main > .circle .inner-circle #computer-selector img.on {
  display: block;
}

.footer {
  width: 100%;
  height: calc((150 / 850) * 100%);
  background-color: #5f7580;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-footer {
  width: 90%;
  height: 80%;
  position: relative;
}

.footer .background div {
  width: 100%;
  height: 80%;
  margin: auto;
  background-color: #99abb5;
  border-radius: 10px;
}

#selectors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 10;
}

#selectors > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#selectors > div .img-box {
  flex: 1;
  position: relative;
  width: 80%;
}

#selectors div .img-box > div {
  position: absolute;
  width: 100%;
  padding-bottom: calc(100% - 10px);
  border-radius: 100%;
  background-color: #a43c33;
  border: 5px solid white;
}

#selectors div .img-box img {
  position: absolute;
  width: 70%;
  height: 70%;
  margin: 15%;
  filter: invert(1);
  opacity: 0.5;
}

#selectors > div .text-box {
  width: 80%;
  background-color: #ffa248;
  text-align: center;
  padding: 5px 5%;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
}

#selectors > div:last-child {
  flex: 1;
  align-items: flex-end;
}

#coin-btn {
  width: 90%;
  height: 100%;
  background: linear-gradient(white, gray);
  transform: translateY(-5px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-hole {
  width: 15px;
  height: 80px;
  background-color: black;
  border: 3px solid white;
}

.coin-box {
  position: absolute;
  height: 80px;
  width: 100px;
  overflow: hidden;
  margin: 4% 0% 0% 20%;
  pointer-events: none;
}

.click-btn,
#coin-btn {
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) {
  #root {
    width: 500px;
    height: 850px;
  }

  .main > .circle .inner-circle {
    margin: 20% auto;
  }

  #selectors > div .img-box {
    width: 70%;
  }
}
